.choose-audio-section {
	margin-block-start: 6.539%;
	margin-block-end: 4.948%;
	inline-size: 75%;

	&-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-items: flex-end;
		gap: 2rem;
		border-radius: 0.5rem;
		padding: 0 30px 30px 0;
		background-image: url('../images/AudioSystem.png');
		background-position: left;
		block-size: 25rem;

		&-title {
			color: var(--color-text);
			font-family: var(--font-secondary-title);
			font-size: 34px;
			line-height: 39.88px;
		}
	}
}

@media (1275px < width <= 1440px) {
	.choose-audio-section {
		inline-size: 80.556%;
	}
}

@media (320px <= width <= 768px) {
	.choose-audio-section {
		inline-size: 88.889%;
		min-inline-size: 18.75rem;

		&-container {
			&-title {
				width: min-content;
				text-align: end;
				text-wrap: balance;
			}
		}
	}
}
