.choose-monitors-section {
	margin-block-start: 2.6045%;
	margin-block-end: 4.948%;
	inline-size: 75%;

	&-container {
		display: flex;
		justify-content: flex-end;
		gap: 2rem;

		&__background-image {
			flex: 1 1 4.805%;
			border-radius: 8px;
			object-fit: cover;
			object-position: center;
			max-block-size: 353px;
		}

		&__buttons-container {
			display: flex;
			flex-direction: column;
			flex: 1 1 70%;
			justify-content: flex-end;
			row-gap: 8px;

			&__title-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-end;
				gap: 0.5rem;
				block-size: fit-content;

				&-item {
					display: flex;
					align-items: center;
					gap: 0.5rem;
				}

				&-title {
					color: var(--color-text);
					font-family: var(--font-secondary-title);
					font-size: 34px;
					line-height: 39.88px;
				}

				&_choose-model {
					color: #b2b2b2;
					font-weight: 300;
					font-size: 1rem;
					line-height: 21.82px;
				}
			}

			&_choose-model {
				font-weight: 300;
				font-size: 1rem;
				line-height: 21.82px;

				&.down-element {
					color: #b2b2b2;
					text-align: end;
					text-wrap: balance;
				}
			}

			&_buttons-grid {
				display: grid;
				grid-template-columns: repeat(4, minmax(0, 1fr));
				grid-template-rows: repeat(3, auto);
				gap: 8px;

				&_button {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					min-inline-size: 0;
					inline-size: 100%;
					border: none;
					border-radius: 4px;
					outline: 1px solid var(--color-dropdown);
					font-size: clamp(0.875rem, 0.725rem + 0.125vw, 0.875rem);
					background-color: var(--color-dropdown);
					block-size: clamp(
						40px,
						calc(40px + (100vw - 320px) * 55 / 1600),
						95px
					);
					max-inline-size: none;

					& img {
						pointer-events: none;
						object-fit: contain;
						aspect-ratio: 3 / 1;
						width: 100%;
						max-width: fit-content;
					}

					&:hover {
						color: var(--color-bg-card);
						background-color: var(--color-accent);
						cursor: pointer;
					}
				}
			}
		}
	}

	.active-model {
		color: var(--color-bg-card);
		background-color: var(--color-accent);
	}
}

@media (width <= 1024px) {
	.choose-monitors-section {
		&-container {
			flex-wrap: wrap;
		}
	}
}

@media (width > 1024px) {
	.choose-monitors-section {
		&-container {
			&__buttons-container {
				&_buttons-grid {
					grid-template-columns: repeat(6, minmax(0, 1fr));
					grid-template-rows: repeat(3, auto);

					&_button img {
						aspect-ratio: 1 / 1;
					}

					&_button:nth-child(1) {
						grid-row: 1;
						grid-column: 1;
					}

					&_button:nth-child(2) {
						grid-row: 1;
						grid-column: 2;
					}

					&_button:nth-child(3) {
						grid-row: 2;
						grid-column: 1;
					}

					&_button:nth-child(4) {
						grid-row: 2;
						grid-column: 2;
					}

					&_button:nth-child(5) {
						grid-row: 2;
						grid-column: 3;
					}

					&_button:nth-child(6) {
						grid-row: 2;
						grid-column: 4;
					}

					&_button:nth-child(7) {
						grid-row: 3;
						grid-column: 1;
					}

					&_button:nth-child(8) {
						grid-row: 3;
						grid-column: 2;
					}

					&_button:nth-child(9) {
						grid-row: 3;
						grid-column: 3;
					}

					&_button:nth-child(10) {
						grid-row: 3;
						grid-column: 4;
					}

					&_button:nth-child(11) {
						grid-row: 3;
						grid-column: 5;
					}

					&_button:nth-child(12) {
						grid-row: 3;
						grid-column: 6;
					}
				}
			}
		}
	}
}

@media (1275px < width <= 1440px) {
	.choose-monitors-section {
		inline-size: 80.556%;

		&-container {
			&__buttons-container {
				&_buttons-grid {
					&_button {
						max-inline-size: none;
					}
				}
			}
		}
	}
}

@media (1120px < width <= 1275px) {
	.choose-monitors-section {
		&-container {
			&__buttons-container {
				&_buttons-grid {
					&_button {
						max-inline-size: none;
					}
				}
			}
		}
	}
}

@media (768px <= width <= 1120px) {
	.choose-monitors-section {
		&-container {
			&__background-image {
				max-block-size: 370px;
			}

			&__buttons-container {
				&_buttons-grid {
					&_button {
						max-inline-size: none;
					}
				}
			}
		}
	}
}

@media (320px <= width <= 768px) {
	.choose-monitors-section {
		inline-size: 88.889%;
		min-inline-size: 18.75rem;

		&-container {
			&__background-image {
				min-inline-size: 300px;
				max-block-size: 370px;
			}

			&__buttons-container {
				flex: 1 1 72%;

				&_buttons-grid {
					&_button {
						max-inline-size: none;
					}
				}
			}
		}
	}

	.custom-width {
		inline-size: 90%;
	}
}
