@use './variables.scss';
@use './globals.scss';
@use './mixins.scss';

.order_call_section {
	display: grid;
	// grid-template-columns: auto;
	// grid-template-rows: auto;
	// grid-column-gap: 0.625rem;
	// grid-row-gap: 0.6875rem;
	grid-template-columns: 28% 42% 28%;
	grid-template-rows: 18% 27% 26% 10% 10%;
	grid-column-gap: 1%;
	grid-row-gap: 2%;
	margin-block-start: 3.375rem;
	margin-block-end: 8.75rem;
	font-family: var(--font-main);
	font-weight: 300;
	font-size: clamp(0.875rem, 0.5417rem + 0.3704vw, 1rem);
	block-size: clamp(26.9375rem, 5rem + 24.375vw, 34.25rem);
	inline-size: 75%;

	// &.elastic {
	// 	margin-inline: clamp(1.25rem, -1.5rem + 13.75vw, 15rem);
	// }

	.sub_title {
		display: flex;
		flex-direction: column;
		grid-area: 1 / 1 / 2 / 1;
		justify-content: flex-start;
		gap: 0.25rem;
		inline-size: 100%;

		&_item {
			font-family: var(--font-main);
			font-weight: 400;
			font-size: 1.25rem;
		}
	}

	.title {
		display: flex;
		grid-area: 2 / 1 / 3 / 2;

		&_item {
			color: var(--color-text);
			font-family: var(--font-accent);
			font-weight: 700;
			// font-size: clamp(2rem, 0.875rem + 1.25vw, 2.375rem);
			font-size: clamp(1.8125rem, 0.1458rem + 1.8519vw, 2.4375rem);
			line-height: clamp(2.4rem, 1.05rem + 1.5vw, 2.85rem);
		}
	}

	.phone_img,
	.tablet,
	.laptop,
	.many_logo {
		position: relative;
		overflow: hidden;
	}

	.phone_img {
		grid-area: 2 / 1 / 6 / 2;
		block-size: 100%;

		img {
			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
			object-fit: cover;
			filter: grayscale(100%);
			transition: filter 0.3s ease-in-out;

			&:hover {
				filter: grayscale(0);
			}
		}

		.phone_img_description {
			position: absolute;
			right: 1rem;
			bottom: 1rem;
			display: flex;
			flex-direction: column;
			color: #fff;
		}
	}

	.tablet {
		grid-area: 1 / 2 / 6 / 3;
		height: 76%;

		img {
			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
			object-fit: cover;
			filter: grayscale(100%);
			transition: filter 0.3s ease-in-out;

			&:hover {
				filter: grayscale(0);
			}
		}
	}

	.laptop {
		grid-area: 1 / 3 / 3 / 4;

		img {
			width: 100%;
			height: 100%;
			border-radius: 0.5rem;
			object-fit: cover;
			filter: grayscale(100%);
			transition: filter 0.3s ease-in-out;

			&:hover {
				filter: grayscale(0);
			}
		}

		.laptop_description {
			position: absolute;
			bottom: 1rem;
			left: 1rem;
			display: flex;
			flex-direction: column;
			color: #fff;
		}
	}

	.many_logo {
		grid-area: 3 / 3 / 6 / 4;
		border-radius: 0.5rem;
		background-image: url('../images/ManyLogoImg.svg');
		background-size: cover;
		transition: background-image 0.1s ease-in-out;

		&:hover {
			background-image: url('../images/ManyLogoImg2.svg');
		}
	}

	.order_button_area {
		display: flex;
		grid-area: 5 / 2 / 6 / 3;
		align-items: flex-end;

		.order_button {
			position: relative;
			border-radius: 0.5rem;
			color: #121212;
			font-family: var(--font-accent);
			font-weight: 700;
			font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
			line-height: 1.8rem;
			background-color: #fff;
			cursor: pointer;
			inline-size: 100%;
			block-size: clamp(3.125rem, 2.1731rem + 4.2308vw, 7.25rem);
			border: none;

			&_arrow {
				position: absolute;
				top: 14.3%;
				right: 2.5%;

				.arrow_in_button {
					inline-size: clamp(0.75rem, 0.5rem + 1.25vw, 2rem);
				}
			}
		}
	}
}

@media (1275px < width <= 1440px) {
	.order_call_section {
		grid-template-columns: 32% 34% 32%;
		grid-template-rows: 20% 33% 30% 5% 5%;
		margin-block-start: 2.2%;
		margin-block-end: 8.334%;
		inline-size: 80.556%;

		.title {
			&_item {
				font-size: 2rem;
			}
		}

		.order_button_area {
			.order_button {
				font-size: clamp(1.0625rem, -0.3864rem + 1.8182vw, 1.25rem);

				.order_button_arrow {
					top: 10%;
					right: 2.5%;
				}
			}
		}
	}
}

@media (768px < width <= 1275px) {
	.order_call_section {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		height: 100%;

		.sub_title,
		.tablet,
		.order_button_area {
			inline-size: 100%;
		}

		.order_button_area {
			.order_button_arrow {
				top: 10%;
				right: 1.8%;
			}
		}

		.order_button {
			width: 100%;
		}

		.phone_img,
		.laptop,
		.many_logo {
			display: block;
			width: 100%;
			height: 330px;
			aspect-ratio: 320 / 330;
		}

		.phone_img_description,
		.laptop_description,
		.many_logo,
		.laptop,
		.tablet {
			display: none;
		}

		.phone_img {
			grid-area: 1 / 1 / 2 / 2;
		}

		.tablet {
			grid-area: 2 / 1 / 3 / 2;
		}

		.laptop {
			grid-area: 3 / 1 / 4 / 2;
		}

		.many_logo {
			grid-area: 4 / 1 / 5 / 2;
		}
	}
}

@media (320px <= width <= 768px) {
	.order_call_section {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		margin-block-start: 2%;
		margin-block-end: 21.223%;
		block-size: 100%;
		inline-size: 88.889%;

		.sub_title {
			gap: 0;

			.sub_title_item {
				font-size: clamp(1rem, 0.7794rem + 0.9804vw, 1.25rem);
			}

			.title_item {
				font-size: clamp(1.5rem, 1.0588rem + 1.9608vw, 2rem);
			}
		}

		.phone_img {
			.phone_img_description {
				bottom: 0;
				align-items: flex-end;
			}
		}

		.phone_img_description,
		.laptop_description,
		.many_logo,
		.laptop,
		.tablet {
			display: none;
		}

		.order_button_area {
			inline-size: 100%;

			.order_button {
				font-size: clamp(1rem, 0.5588rem + 1.9608vw, 1.5rem);
				block-size: 3.5rem;
			}

			.arrow_in_button {
				inline-size: clamp(0.75rem, 0.5rem + 1.1111vw, 1.5rem);
			}

			.order_button_arrow {
				position: absolute;
				top: 8%;
				right: 2.6%;
			}
		}

		.sub_title,
		.phone_img,
		.order_button {
			inline-size: 100%;
		}

		.phone_img,
		.laptop,
		.tablet {
			block-size: 20rem;
		}
	}
}
