@use './variables.scss';
@use './globals.scss';
@use './mixins.scss';

.repair-services-section {
	display: flex;
	flex-direction: column;
	gap: clamp(3.1875rem, 2.6625rem + 2.625vw, 5.8125rem);
	margin-block-end: 7.292%;
	inline-size: 75%;
	// block-size: clamp(60.625rem, 36.1822rem + 27.1399vw, 68.75rem);
	block-size: 100%;

	// &.elastic {
	// 	margin-inline: clamp(1.25rem, -1.5rem + 13.75vw, 15rem);
	// }

	.repair-services-title {
		display: flex;
		flex-direction: column;
		gap: 6px;
		inline-size: 100%;

		.title_item {
			color: var(--color-text);
			font-family: var(--font-accent);
			font-weight: 700;
			font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
			line-height: clamp(1.5rem, 1.44rem + 0.3vw, 1.8rem);
		}

		.sub_title_item {
			font-weight: 400;
			font-size: clamp(0.875rem, 0.85rem + 0.125vw, 1rem);
			line-height: clamp(1.19375rem, 1.1598rem + 0.17vw, 1.36375rem);
		}
	}

	.cards-container {
		// display: grid;
		// grid-template-columns: repeat(4, minmax(15.2rem, 21rem));
		// grid-template-rows: repeat(3, 1fr);
		// row-gap: 19%;
		// column-gap: clamp(1rem, -1.6667rem + 2.963vw, 2rem);
		// inline-size: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 95px;
		column-gap: 36px;

		.card-link {
			position: relative;
			// block-size: 89.801%;
			// block-size: 100%;
			// inline-size: 23%;
			flex: 1 1 calc(25% - 36px);
			min-width: 243px;
			max-width: calc(51% - 36px);
			text-decoration: none;

			&:last-child {
				// grid-column: span 2;
				// grid-row: span 1;
				flex: 1 1 100%;
			}

			.card-container {
				display: grid;
				justify-items: center;
				border-radius: 8px;
				padding: 12px 12px 0 12px;
				background-color: var(--color-dropdown);
				block-size: 253px;
				inline-size: 100%;

				.card {
					position: relative;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-items: center;
					gap: 1.5rem; //24px
					border-radius: 8px;
					background-color: var(--color-bg-card);
					block-size: clamp(9.375rem, 4.5rem + 5.4167vw, 11rem);
					inline-size: 100%;

					&-image {
						position: absolute;
						top: -27%;
						z-index: 2;
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						block-size: clamp(10.5rem, 2.5rem + 8.8889vw, 13.5rem);
					}

					&-title {
						z-index: 2;
						color: white;
						font-weight: 300;
						font-size: clamp(1.25rem, 0.5833rem + 0.7407vw, 1.5rem);
						line-height: 32.74px;
						text-align: center;
						text-wrap: auto;
					}
				}
			}

			&:last-child {
				.card-container {
					.card {
						justify-content: flex-start;
						gap: clamp(0.375rem, -1.2917rem + 1.8519vw, 1rem);
						background-color: inherit;

						&-image {
							top: 0;
							block-size: 100%;
							inline-size: 100%;
						}
					}
				}
			}
		}
	}
}

@media (1275px < width <= 1440px) {
	.repair-services-section {
		gap: 4.7vw;
		margin-block-end: 8.334%;
		inline-size: 80.556%;

		.repair-services-title {
			.title_item {
				font-size: 1.5rem;
			}
		}

		.cards-container {
			// grid-template-columns: repeat(4, minmax(13.75rem, 1fr));
			// grid-row-gap: 14%;
			row-gap: 60px;
			column-gap: 1rem;

			.card-link {
				flex: 1 1 calc(27% - 36px);
				// min-width: 278px;
				min-width: 220px;

				.card-container {
					block-size: 216px;

					.card-title {
						font-size: clamp(1.0625rem, -0.3864rem + 1.8182vw, 1.25rem);
					}

					.card {
						block-size: 145px;
					}
				}
			}
		}
	}
}

@media (768px < width <= 1275px) {
	.repair-services-section {
		inline-size: 75%;
		margin-block-end: 9%;

		.cards-container {
			// grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
			// grid-row-gap: 8%;
			row-gap: 60px;
			column-gap: 8px;

			.card-link {
				flex: 1 1 calc(36% - 36px);
				min-width: 15.625rem;
				max-width: 100%;

				&:last-child {
					flex: 1 1 66%;
				}

				.card-container {
					block-size: 13.5rem;

					.card-title {
						font-size: clamp(0.9375rem, 0.7946rem + 0.2976vw, 1.0625rem);
					}
				}
			}
		}
	}
}

@media (320px <= width <= 768px) {
	.repair-services-section {
		// gap: 3.33rem;
		margin-block-end: 80px;
		inline-size: 88.889%;
		// block-size: 107.7vh; //сомнительно

		.repair-services-title {
			gap: 0;
		}

		.cards-container {
			// grid-template-columns: repeat(2, minmax(8.5rem, 1fr));
			// grid-column-gap: 8px;
			// grid-row-gap: 5.5%;
			row-gap: 35px;
			column-gap: 8px;

			.card-link {
				// block-size: 9.125rem;
				flex: 1 1 calc(37% - 36px);
				min-width: 138px;
				max-width: 100%;

				&:last-child {
					flex: 1 1 66%;
				}

				.card-container {
					padding: 8px 8px 0 8px;
					block-size: 160px;

					.card {
						position: relative;
						block-size: 100px;
					}

					.card-image {
						position: absolute;
						top: -17%;
						block-size: 6.375rem;
					}

					.card-title {
						font-size: 14px;
						line-height: 19.1px;
					}
				}
			}
		}
	}
}
