@use './variables.scss';
@use './globals.scss';
@use './mixins.scss';

.reviews-section {
	display: flex;
	flex-direction: column;
	gap: 3.75rem;
	margin-block-end: 7.292%;
	font-weight: 400;
	font-size: clamp(0.875rem, 0.4907rem + 0.4267vw, 1.01875rem);
	inline-size: 75%;
	text-wrap: wrap;

	.reviews-title-container {
		display: flex;
		flex-direction: column;
		gap: 4px;
		inline-size: 100%;

		.reviews-title {
			color: var(--color-text);
			font-family: var(--font-accent);
			font-size: 1.5rem;
			line-height: 28.8px;
		}

		.reviews-subtitle {
			font-family: var(--font-main);
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
		}
	}

	.reviews-container {
		display: flex;
		flex-wrap: wrap;
		gap: clamp(1rem, -2.75rem + 4.1667vw, 2.25rem);

		&_left-side {
			display: flex;
			flex-direction: column;
			flex: 1 1 40%;
			justify-content: space-between;
			gap: 1.25rem;
			overflow: hidden;
			min-inline-size: 20.9375rem;

			&-description {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;
				font-size: clamp(0.875rem, 0.5rem + 0.4167vw, 1rem);
				line-height: 1.36375rem;
				max-inline-size: 44rem;
			}

			.gratitude {
				align-self: flex-end;
				font-size: 1.25rem;
				line-height: 1.705rem;
				max-inline-size: 20.125rem;
			}

			&-img {
				border-radius: 12.2px;
				object-fit: cover;
				// block-size: clamp(13.375rem, 0.8125rem + 13.9583vw, 17.5625rem);
				max-block-size: 280px;
			}
		}

		.reviews-widget {
			position: relative;
			flex: 1 1 6%;
			overflow: hidden;
			min-inline-size: 23.425rem;
			min-block-size: 31.875rem;

			&-item {
				border: 1px solid #e6e6e6;
				border-radius: 8px;
				inline-size: 100%;
				block-size: 100%;

				&-link {
					position: absolute;
					bottom: 8px;
					left: 0;
					display: block;
					width: 100%;
					max-height: 14px;
					padding: 0 16px;
					overflow: hidden;
					color: #b3b3b3;
					font-family: 'YS Text', sans-serif;
					font-size: 10px;
					text-align: center;
					text-decoration: none;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
}

@media (1275px < width <= 1440px) {
	.reviews-section {
		margin-block-end: 8.334%;
		font-size: clamp(0.9375rem, 0.4512rem + 0.6098vw, 1rem);
		inline-size: 80.556%;

		.reviews-container {
			&_left-side {
				gap: 13px;

				&-img {
					max-block-size: 215px;
				}

				&-description {
					gap: 0;
					max-inline-size: 35.8125rem;
				}
			}
		}
	}
}

@media (768px < width <= 1275px) {
	.reviews-section {
		.reviews-container {
			gap: clamp(0.8125rem, 0.2484rem + 0.6263vw, 1rem);

			&_left-side {
				// &-img {
				// 	block-size: 100%;
				// 	// max-block-size: 221px;
				// }

				.gratitude {
					text-align: end;
				}
			}

			.reviews-widget {
				min-inline-size: 25rem;
			}
		}
	}
}

@media (320px <= width <= 768px) {
	.reviews-section {
		gap: 2.5rem;
		margin-block-end: 22.223%;
		font-size: 0.875rem;
		line-height: 1.19375rem;
		inline-size: 88.889%;
		min-inline-size: 18.75rem;

		.reviews-title-container {
			.reviews-title {
				font-size: 1.25rem;
				line-height: 1.5rem;
			}

			.reviews-subtitle {
				font-size: 0.875rem;
				line-height: 1.19375rem;
			}
		}

		.reviews-container {
			&_left-side {
				min-inline-size: 100%;

				&-description {
					font-size: 0.875rem;
					line-height: 1.31875rem;
					inline-size: 100%;
				}

				// &-img {
				// 	object-fit: contain;
				// 	block-size: 100%;
				// 	// max-block-size: 202px;
				// }
			}

			.reviews-widget {
				min-inline-size: 100%;
			}

			.gratitude {
				text-align: end;
			}
		}
	}
}
