.service-description {
	display: flex;
	flex-wrap: wrap;
	gap: 33px;
	margin-block-end: 7.292%;
	inline-size: 75%;

	&__text-container {
		display: flex;
		flex-direction: column;
		flex: 1 1 47%;
		gap: 24px;
		font-size: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);
		line-height: 19.1px;
		text-wrap: auto;

		&__paragraph {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
	}

	&__img {
		flex: 1 1 50%;
		border-radius: 8px;
		object-fit: cover;
		object-position: top;
		max-block-size: 281px;
		min-inline-size: 300px;
	}
}

@media (320px <= width <= 768px) {
	.service-description {
		inline-size: 88.889%;
		min-inline-size: 18.75rem;
	}
}
