.table-section {
	margin-block-end: 7.292%;
	inline-size: 75%;

	.service-type-buttons {
		display: flex;
		justify-content: space-between;
		align-content: center;
		height: 40px;
		margin-block-end: 1.389%;
		border-radius: 7px;
		outline: 1px solid var(--color-dropdown);
		inline-size: 100%;
		max-inline-size: 419px;

		&-item {
			width: 50%;
			height: 100%;
			border: none;
			color: var(--color-text);
			background-color: inherit;

			&:hover {
				color: var(--color-accent);
				cursor: pointer;
			}
		}
	}

	.active-service {
		border-radius: 7px;
		color: var(--color-text);
		background-color: var(--color-contour);
	}
}

.service-table {
	color: var(--color-text);
	font-weight: 400;
	font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
	line-height: 27.28px;
	inline-size: 100%;
	border-spacing: 0;

	&-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: none;
		inline-size: 100%;
		text-wrap: balance;

		&__row {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			border-bottom: 1px solid var(--color-dropdown);
			line-height: clamp(1.875rem, 1.5125rem + 1.8125vw, 3.6875rem);

			&-cell {
				text-align: end;
			}
		}
	}

	.first-price {
		color: var(--color-accent);
	}

	.last-price {
		color: var(--color-accent);
	}
}

@media (320px <= width <= 768px) {
	.table-section {
		inline-size: 88.889%;
		min-inline-size: 18.75rem;
	}
}
