:root {
	--font-main: 'Nunito Sans', system-ui;
	--font-accent: 'Rimma Sans', monospace;
	--font-secondary-title: 'Work Sans', system-ui;
	--font-weight-regular: 400;
	--font-weight-bold: 700;
	--color-bg: #111212;
	--color-anchor: #b2b2b2;
	--color-accent: #06e0e7;
	--color-text: #fff;
	--color-contour: #575757;
	--color-dropdown: #2d2e2e;
	--color-bg-card: #121212;
	--color-error: #bd2b2b;
	scrollbar-width: thin;
}

/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
