@font-face {
  font-family: 'Nunito Sans', system-ui;
  src: url(./fonts-files/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
  font-optical-sizing: auto;
  font-weight: 100 900; /* Укажите диапазон веса */
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
  font-stretch: 75% 125%; /* Укажите диапазон ширины */
}

@font-face {
  font-display: swap;
  font-family: 'Rimma Sans';
  src:
    local('RIMMA_SANS-BOLD'),
    url(./fonts-files/Rimma_Sans/RIMMA_SANS-BOLD.TTF) format('truetype');
  font-weight: 700;
}

/* В этом файле импорт всех шрифтов для сайта. */
